<nb-card>
  <nb-card-header>Perfil paciente</nb-card-header>
  <nb-card-body>
    <table class="table table-striped" width="100%">
      <tr>
        <td>
          Nome:
        </td>
        <td>
          {{data.name}}
        </td>
      </tr>
      <tr>
        <td>
          E-mail:
        </td>
        <td>
          {{data.email}}
        </td>
      </tr>
      <tr>
        <td>
          Telefone:
        </td>
        <td>
          {{data.phone}}
        </td>
      </tr>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <div class="btn-row" >
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      <button type="button" class="btn btn-secondary" (click)="openCall()">Ligar </button>
    </div>
  </nb-card-footer>
</nb-card>