<div class="row">
    <div class="col-lg-6">
        <nb-card>
          <nb-card-header>Pie</nb-card-header>
          <nb-card-body>
            <ngx-echarts-pie></ngx-echarts-pie>
          </nb-card-body>
        </nb-card>
      </div>
  <div class="col-lg-6">
    <nb-flip-card>
      <nb-card-front>
        <nb-card status="info">
          <nb-card-header>Psique</nb-card-header>
          <nb-card-body>
            <img id=logo-img src="/assets/images/Psique.png" style="width: 100%">
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="info">
          <nb-card-header>Um pouco sobre o psique</nb-card-header>
          <nb-card-body>
            <iframe style="width:100%; height: 42vh;" src="https://www.youtube.com/embed/uIovBLXSGRQ" allowfullscreen>
            </iframe>
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
  <div class="col-lg-6">
    <nb-flip-card>
      <nb-card-front>
        <nb-card status="info">
          <nb-card-header>Psique</nb-card-header>
          <nb-card-body>
            <img id=logo-img src="/assets/images/Psique-logo.png" style="width: 100%">
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="info">
          <nb-card-header>Dados Nacionais</nb-card-header>
          <nb-card-body>
            <img id=logo-img src="/assets/images/PsiqueInfo2.png" style="width: 100%">
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
</div>