<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Escolha a data da Consulta</nb-card-header>
      <nb-card-body style="display: flex; justify-content: flex-start;">
        <input nbInput placeholder="Data" [nbDatepicker]="formpicker" style="width: 100%; 
               padding: .4375rem 1rem;
               border-radius: .25rem;
               font-weight: 600;">
        <nb-datepicker #formpicker format="dd.MM.yyyy"></nb-datepicker>
        <input placeholder="Hora" [ngxTimepicker]="picker">
        <ngx-material-timepicker #picker></ngx-material-timepicker>
      </nb-card-body>
      <button *ngFor="let status of statuses" nbButton [status]="status" style="text-align: center">
        Salvar Data
      </button>
    </nb-card>
  </div>
</div>